@{
    ViewData["Title"] = "Home Page";
}
<style>
    header{
        background-image: url('/img/bread-brunch-candle-1345190.jpg');
        background-size: cover;
        position: relative;
    }
</style>
<!-- Header -->
<header class="py-5 mb-5 bg-img">
    <div style="background-color: #00000057;height: 100%;max-width: 1110px;width: 100%;position: absolute;top: 0px;"></div>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">
                    <strong>Welcome to The Cutting Edge</strong>
                </h1>
                <p class="lead mb-5" style="color: white;">
                    A modern-looking site, designed for sharing recipes and culinary ideas among this great community.<br />
                    We hope you will use the experience shared by other members and continue making wonderful dishes each day.
                </p>
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Newest Addition</h2>
            <hr>
            <h5>&#60;RecipeTitle&#62;</h5>
            <p>This Paragraph will show description of the recipe which the user who added it will enter when creating the recipe.</p>
            <h7 style="float:right;">- Kudos! to &#60;UserName&#62; for the recipe</h7>
            <br /><br />
            <a class="btn btn-primary btn-lg" style="background-color:#d1ecf1; color:#0c5460; border-color: #0c5460;" href="#">Follow the Recipe &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Site Statistics</h2>
            <hr>
            <address style="margin: 0 auto;">
                <strong>Number of Users</strong> : &#60;OverAllUsers&#62; <br />
                <strong>Number of Recipes</strong> : &#60;OverAllRecipes&#62; <br />
                <strong>Number of Logins</strong> : &#60;OverAllLogins&#62; <br />
                <img src="~/img/cherry-food-fresh-890507.jpg" style="margin: 5px 0; width: 100%; max-width:340px; max-height:190px" />
                <br>
            </address>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mb-5">
            <div style="width: 100%">
                <h2>What's New in the Culinary World</h2>
                <hr />
                <!-- start sw-rss-feed code -->
                <script type="text/javascript">
                    rssfeed_url = new Array();
                    rssfeed_url[0] = "https://news.google.com/news/rss/search/section/q/food?ned=us&gl=US&hl=en";
                    rssfeed_frame_width = "150%";
                    rssfeed_frame_height = "460";
                    rssfeed_scroll = "on";
                    rssfeed_scroll_step = "4";
                    rssfeed_scroll_bar = "on";
                    rssfeed_target = "_blank";
                    rssfeed_font_size = "18";
                    rssfeed_font_face = "-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji";
                    rssfeed_border = "off";
                    rssfeed_css_url = "";
                    rssfeed_title = "off";
                    rssfeed_title_name = "";
                    rssfeed_title_bgcolor = "";
                    rssfeed_title_color = "";
                    rssfeed_title_bgimage = "";
                    rssfeed_footer = "off";
                    rssfeed_footer_name = "";
                    rssfeed_footer_bgcolor = "";
                    rssfeed_footer_color = "";
                    rssfeed_footer_bgimage = "";
                    rssfeed_item_title_length = "75";
                    rssfeed_item_title_color = "#666";
                    rssfeed_item_bgcolor = "#fff";
                    rssfeed_item_bgimage = "";
                    rssfeed_item_border_bottom = "on";
                    rssfeed_item_source_icon = "off";
                    rssfeed_item_date = "on";
                    rssfeed_item_description = "on";
                    rssfeed_item_description_length = "300";
                    rssfeed_item_description_color = "#666";
                    rssfeed_item_description_link_color = "#333";
                    rssfeed_item_description_tag = "off";
                    rssfeed_no_items = "0";
                    rssfeed_cache = "fa3f51539ac763c82f081b23f20f8d4c";
                </script>
                <script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>
                <!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. -->
                <div style="color:#ccc;font-size:10px; text-align:right; width:100%;">powered by <a href="https://surfing-waves.com" rel="noopener" target="_blank" style="color:#ccc;">Surfing Waves</a></div>
                <!-- end sw-rss-feed code -->
            </div>
        </div>
    </div>
    <h2>Recomanded Sites</h2>
    <hr>
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://yt3.ggpht.com/a-/AAuE7mDnvINsURXuhrAESjQTtzYMxbgg_EZAj9bxRA=s900-mo-c-c0xffffffff-rj-k-no" alt="tasty.co" style="max-height:300px; max-width:100%; margin:0 auto;">
                <div class="card-body">
                    <h4 class="card-title">Tasty</h4>
                    <p class="card-text">The official home of all things Tasty, the world's largest food network. Search, watch, and cook every single Tasty recipe and video ever - all in one place!.</p>
                </div>
                <div class="card-footer">
                    <a style="background-color:#d1ecf1; color:#0c5460; border-color: #0c5460;" href="https://tasty.co/" class="btn btn-primary" target="_blank">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Food_Network_New_Logo.png" alt="foodnetwork.com" style="max-height:300px; max-width:100%; max-width:300px; margin:0 auto;">
                <div class="card-body">
                    <h4 class="card-title">Food Network</h4>
                    <p class="card-text">Love Food Network shows, chefs and recipes? Find the best recipe ideas, videos, healthy eating advice, party ideas and cooking techniques from top chefs...</p>
                </div>
                <div class="card-footer">
                    <a style="background-color:#d1ecf1; color:#0c5460; border-color: #0c5460;" href="https://www.foodnetwork.com/" class="btn btn-primary" target="_blank">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://yt3.ggpht.com/a-/AAuE7mDFODRA4EYJDOlQZswgtAT4y5SL5JS3rpqhoA=s900-mo-c-c0xffffffff-rj-k-no" alt="epicurious.com" style="max-height:300px; max-width:100%; max-width:300px; margin:0 auto;">
                <div class="card-body">
                    <h4 class="card-title">Epicurious</h4>
                    <p class="card-text">Genius Kitchen has a massive collection of recipes that are submitted, rated and reviewed by people who are passionate about food.</p>
                </div>
                <div class="card-footer">
                    <a style="background-color:#d1ecf1; color:#0c5460; border-color: #0c5460;" href="https://www.epicurious.com/" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
    </div>
</div>