@{
    ViewData["Title"] = "Home Page";
}
<style>
    header{
        background-image: url('/img/bread-brunch-candle-1345190.jpg');
        background-size: cover;
        position: relative;
    }
</style>
<!-- Header -->
<header class="py-5 mb-5 bg-img">
    <div style="background-color: #0000007a;height: 100%;max-width: 1110px;width: 100%;position: absolute;top: 0px;"></div>
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">
                    <strong>Welcome to The Cutting Edge</strong>
                </h1>
                <p class="lead mb-5" style="color: white;">
                    A modern-looking site, designed for sharing recipes and culinary ideas among this great community.<br />
                    We hope you will use the experience shared by other members and continue making wonderful dishes each day.
                </p>
            </div>
        </div>
    </div>
</header>
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Newly Added Recipe</h2>
            <hr>
            <h5>&#60;RecipeTitle&#62;</h5>
            <p>This Paragraph will show description of the recipe which the user who added it will enter when creating the recipe.</p>
            <h7 style="float:right;">- Kudos! to &#60;UserName&#62; for the recipe</h7>
            <br/><br/>
            <a class="btn btn-primary btn-lg" style="background-color:#d1ecf1; color:#0c5460; border-color: #0c5460;" href="#">Follow the Recipe &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Site Statistics</h2>
            <hr>
            <address>
                <strong>Number of Users</strong> : &#60;OverAllUsers&#62; <br />
                <strong>Number of Recipes</strong> : &#60;OverAllRecipes&#62; <br />
                <strong>Number of Logins</strong> : &#60;OverAllLogins&#62; <br />
                <img src="~/img/activity-analytics-business-401683.jpg" height="120" width="300" style="margin: 5px;"/>
                <br>
            </address>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
                </div>
                <div class="card-footer">
                    <a style="background-color:#d1ecf1; color:#0c5460; border-color: #0c5460;" href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
                </div>
                <div class="card-footer">
                    <a style="background-color:#d1ecf1; color:#0c5460; border-color: #0c5460;" href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a style="background-color:#d1ecf1; color:#0c5460; border-color: #0c5460;" href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
    </div>
</div>