@{
    ViewData["Title"] = "MyRecipes";
}
<h2 style="margin-bottom: 12px">@ViewData["Title"]</h2>
<br />
<div class="container">
    <div class="row">
        <div class='table-responsive'>
            <!--Table-->
            <table id="tablePreview" class="table table-hover">
                <!--Table head-->
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Uploaded Time</th>
                        <th></th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    <tr>
                        <td>&#60;RecipeTitle&#62;</td>
                        <td>&#60;RecipeUploadDate&#62;</td>
                        <td>
                            <div width="200">
                                <a class='btn ' style='border-color:black; cursor:pointer;'><i class='fa fa-pencil'></i> Edit</a>
                                <a class='btn ' style='border-color:black; background-color:red; color:white; cursor:pointer; margin-left:5px;'><i class='fa fa-trash'></i> Delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>&#60;RecipeTitle&#62;</td>
                        <td>&#60;RecipeUploadDate&#62;</td>
                        <td>
                            <div width="200">
                                <a class='btn ' style='border-color:black; cursor:pointer;'><i class='fa fa-pencil'></i> Edit</a>
                                <a class='btn ' style='border-color:black; background-color:red; color:white; cursor:pointer; margin-left:5px;'><i class='fa fa-trash'></i> Delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>&#60;RecipeTitle&#62;</td>
                        <td>&#60;RecipeUploadDate&#62;</td>
                        <td>
                            <div width="200">
                                <a class='btn ' style='border-color:black; cursor:pointer;'><i class='fa fa-pencil'></i> Edit</a>
                                <a class='btn ' style='border-color:black; background-color:red; color:white; cursor:pointer; margin-left:5px;'><i class='fa fa-trash'></i> Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->
        </div>
    </div>
</div>
