@{
    ViewData["Title"] = "RecipePage";
}

<style>
    input:checked + label {
        color: #ccc8c8a6;
        text-decoration: line-through;
    }

    .custom-control-input{
        padding: 10px;
    }
</style>
<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">&#60;RecipeTitle&#62;</h1>
            <!-- Author -->
            <span class="lead">
                by <a href="#">&#60;RecipeUploader&#62;(=>&#60;UserName&#62;)</a>
            </span>
            <hr>
            <!-- Date/Time -->
            Posted on &#60;RecipeUploadDate&#62;
            <hr style="margin-bottom: 30px;">
            <!-- Post Content -->
            <style>
                h4 {
                    margin-right: 20px;
                }
                p {
                    color: #9b9b9b;
                    line-height: 2;
                }
            </style>
            <div class="receipe-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-13">
                            <div class="single-preparation-step d-flex">
                                <h4>01.</h4>                                
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            </div>

                            <div class="single-preparation-step d-flex">
                                <h4>02.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            </div>

                            <div class="single-preparation-step d-flex">
                                <h4>03.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            </div>

                            <div class="single-preparation-step d-flex">
                                <h4>04.</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
                            </div>
                        </div>
                    </div>                   
                </div>
            </div>
            <hr>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body" style="padding-bottom: 0px;">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" style="border-radius: 0px 4px 4px 0px; background-color:#d1ecf1; color:#0c5460; border-color: #0c5460;">Go!</button>
                        </span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">&#60;Category&#62;</a>
                                </li>
                                <li>
                                    <a href="#">&#60;Category&#62;</a>
                                </li>
                                <li>
                                    <a href="#">&#60;Category&#62;</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#">&#60;Category&#62;</a>
                                </li>
                                <li>
                                    <a href="#">&#60;Category&#62;</a>
                                </li>
                                <li>
                                    <a href="#">&#60;Category&#62;</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ingridiants -->
            <div class="card my-4" style="border: none; font-size: 16px;
                        font-weight: 600;">
                <div class="col-12 col-lg-12">
                    <div class="ingredients">
                        <h4>Ingredients</h4>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">4 Tbsp (57 gr) butter</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label" for="customCheck2">2 large eggs</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                            <label class="custom-control-label" for="customCheck3">2 yogurt containers granulated sugar</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                            <label class="custom-control-label" for="customCheck4">1 vanilla or plain yogurt, 170g container</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="customCheck5">
                            <label class="custom-control-label" for="customCheck5">2 yogurt containers unbleached white flour</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="customCheck6">
                            <label class="custom-control-label" for="customCheck6">1.5 yogurt containers milk</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="customCheck7">
                            <label class="custom-control-label" for="customCheck7">1/4 tsp cinnamon</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="customCheck8" style="padding: 10px;">
                            <label class="custom-control-label" for="customCheck8">1 cup fresh blueberries</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment :</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" style="background-color:#d1ecf1; color:#0c5460; border-color: #0c5460;">Submit</button>
                    </form>
                </div>
            </div>
            <!-- Comments Display -->
            <div class="mb-4">
                <h5 class="mt-0">&#60;CommenterName&#62;</h5>
                <h8 class="mt-0" style="color: #9b9b9b;">&#60;CommentDate&#62;</h8><br />
                <div style="padding: 0 20px">
                    &#60;CommentDescription&#62; Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
                <hr />
            </div>
            <div class="mb-4">
                <h5 class="mt-0">&#60;CommenterName&#62;</h5>
                <h8 class="mt-0" style="color: #9b9b9b;">&#60;CommentDate&#62;</h8><br />
                <div style="padding: 0 20px">
                    &#60;CommentDescription&#62; Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
                <hr />
            </div>
        </div>
    </div>