@{
    ViewData["Title"] = "Recipe Page";
}

<style>
    input:checked + label {
        color: #ccc8c8a6;
        text-decoration: line-through;
    }

    .custom-control-input {
        padding: 10px;
    }

    input{
        cursor: pointer;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">&#60;RecipeTitle&#62;</h1>
            <!-- Author -->
            <span class="lead">
                by &#60;RecipeUploader&#62;(=>&#60;UserName&#62;)
            </span><br />
            <!-- Date/Time -->
            <div style="margin-top: 5px;">Posted on &#60;RecipeUploadDate&#62;</div>
            <hr style="margin-bottom: 30px;">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <style>

                p {
                    line-height: 2;
                }
            </style>
            <div class="receipe-content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-13">
                            <div class="single-preparation-step d-flex">
                                <input type="checkbox" style="margin: 11px 25px 0 11px; transform: scale(2);" />
                                <label><p>&#60;Step_#&#62; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p></label>
                            </div>
                            <div class="single-preparation-step d-flex">
                                <input type="checkbox" style="margin: 11px 25px 0 11px; transform: scale(2);" />
                                <label><p>&#60;Step_#&#62; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p></label>
                            </div>
                            <div class="single-preparation-step d-flex">
                                <input type="checkbox" style="margin: 11px 25px 0 11px; transform: scale(2);" />
                                <label><p>&#60;Step_#&#62; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p></label>
                            </div>
                            <div class="single-preparation-step d-flex">
                                <input type="checkbox" style="margin: 11px 25px 0 11px; transform: scale(2);" />
                                <label><p>&#60;Step_#&#62; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- ingridiants -->
            <div class="card my-4" style="border: none; font-size: 16px;
                        font-weight: 600;">
                <div class="col-12 col-lg-12">
                    <div class="ingredients">
                        <h4>Ingredients</h4>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="IngredientCheck1">
                            <label class="custom-control-label" for="IngredientCheck1">&#60;Ingredient_#&#62; 4 Tbsp (57 gr) butter</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="IngredientCheck2">
                            <label class="custom-control-label" for="IngredientCheck2">&#60;Ingredient_#&#62; 2 large eggs</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="IngredientCheck3">
                            <label class="custom-control-label" for="IngredientCheck3">&#60;Ingredient_#&#62; 2 yogurt containers granulated sugar</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="IngredientCheck4">
                            <label class="custom-control-label" for="IngredientCheck4">&#60;Ingredient_#&#62; 1 vanilla or plain yogurt, 170g container</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="IngredientCheck5">
                            <label class="custom-control-label" for="IngredientCheck5">&#60;Ingredient_#&#62; 2 yogurt containers unbleached white flour</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="IngredientCheck6">
                            <label class="custom-control-label" for="IngredientCheck6">&#60;Ingredient_#&#62; 1.5 yogurt containers milk</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="IngredientCheck7">
                            <label class="custom-control-label" for="IngredientCheck7">&#60;Ingredient_#&#62; 1/4 tsp cinnamon</label>
                        </div>
                        <div class="custom-control custom-checkbox" style="margin-bottom: 20px;">
                            <input type="checkbox" class="custom-control-input" id="IngredientCheck8" style="padding: 10px;">
                            <label class="custom-control-label" for="IngredientCheck8">&#60;Ingredient_#&#62; 1 cup fresh blueberries</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>