@{
    ViewData["Title"] = "Recipes";
}
<style>

    .LettersList {
        list-style-type: none;
        margin: 0 auto;
    }

        .LettersList > li {
            float: left;
            margin: 0 10px;
        }
</style>
<div style="position: relative;">
    <img src="~/img/black-and-white-book-data-833109.jpg" style="width: 100%; max-height: 300px;" />
    <div style="position: absolute; left: 20px; bottom: 10px; color: white;">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>
<div class="card my-4" style="border:none;">
    <div class="card-body">
        <div class="input-group">
            <input style="cursor: auto;" type="text" class="form-control" placeholder="Search for a recipe">
            <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" style="border-radius: 0px 4px 4px 0px; background-color:#d1ecf1; color:#0c5460; border-color: #0c5460;">Go!</button>
            </span>
        </div>
    </div>
    <ul class="LettersList">
        <li><a href="#">All</a></li>
        <li><a href="#">A</a></li>
        <li><a href="#">B</a></li>
        <li><a href="#">C</a></li>
        <li><a href="#">D</a></li>
        <li><a href="#">E</a></li>
        <li><a href="#">F</a></li>
        <li><a href="#">G</a></li>
        <li><a href="#">H</a></li>
        <li><a href="#">I</a></li>
        <li><a href="#">J</a></li>
        <li><a href="#">K</a></li>
        <li><a href="#">L</a></li>
        <li><a href="#">M</a></li>
        <li><a href="#">N</a></li>
        <li><a href="#">O</a></li>
        <li><a href="#">P</a></li>
        <li><a href="#">Q</a></li>
        <li><a href="#">R</a></li>
        <li><a href="#">S</a></li>
        <li><a href="#">T</a></li>
        <li><a href="#">U</a></li>
        <li><a href="#">V</a></li>
        <li><a href="#">W</a></li>
        <li><a href="#">X</a></li>
        <li><a href="#">Y</a></li>
        <li><a href="#">Z</a></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">&#60;RecipeTitle &#62;</h2>
                    <hr />
                    <p class="card-text">&#60;RecipeDescription&#62;<br />This is where the description of the recipe will show.</p>
                    <a asp-controller="Home" asp-action="RecipePage" class="btn btn-primary" style="background-color:#d1ecf1; color:#0c5460; border-color: #0c5460; float: right;" target="_blank">Follow To the Recipe &raquo;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on &#60;RecipeUploadDate&#62; by
                    &#60;RecipeUploader&#62;(=>&#60;UserName&#62;)
                </div>
            </div>
        </div>
    </div>
</div>
